/* base styles, feel free to edit */
html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

main {
    height: 92vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

/* Add your styles here */
.bg {
    background: url(../bg4.jpg);
    /* background: url(/bg.png); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    background-size: cover;
    z-index: -10;

}

#registration-form {
    background-color: rgba(30, 30, 30, 0.7);
}

#copyright {
    position: absolute;
    bottom: 0;
}

/* #register-form {
    display: none;
} */